{% extends 'email/base.html' %}

{% block header-footer %}

<tr style="padding: 0">
    <td align="left" valign="middle" class="inner-td">
        <p class="inner-paragraph">
            Someone made a request to reset your password for email: <i>{{ email }}</i>.
        </p>
        <p class="inner-paragraph">
            Please follow the link to change password.
            <i>(Note: This link will expire after 2 days) If this wasn't you, you can ignore this email.</i>
        </p>
    </td>
</tr>
<tr style="padding: 0">
    <td align="center" valign="middle" class="inner-td-second">
        <br aria-hidden="true">
        <table align="center" border="0" cellspacing="0" cellpadding="0"
               class="inner-table-container-second" width="340">
            <tbody>
            <tr style="padding: 0">
                <td align="center" bgcolor="#79BCB0" valign="middle" class="inner-td-third">
                    <a href="{{ reset_url }}" rel="noopener noreferrer"
                       target="_blank"
                       class="cta-btn"
                    >Reset password</a>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>

{% endblock header-footer %}
