{% extends 'email/base.html' %}

{% block header-footer %}

<tr style="padding: 0">
    <td align="left" valign="middle" class="inner-td">
        <p class="inner-paragraph">
            Your password was changed recently, <small><i>If this wasn't you, please
            contact your administrator and change your password.</i></small>
        </p>
        <p class="inner-paragraph">
            {% if IP_ADDRESS and BROWSER %}
        <hr>
        IP_ADDRESS: {{ IP_ADDRESS }}
        BROWSER: {{ BROWSER }}
        TIME: {{ TIME }}
        {% endif %}
        {% if city and country %}
        CITY: {{ city }}
        COUNTRY: {{ country }}
        </small>
        {% endif %}
        </p>
    </td>
</tr>

{% endblock header-footer %}
